---
import { type CollectionEntry, getCollection, render } from 'astro:content';

import FormattedDate from '../../components/formatted-date.astro';
import BaseLayout from "../../layouts/base-layout.astro";

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<BaseLayout
	title={post.data.title}
	description={post.data.description}
>
	<div class="relative">
		<header class="relative">
			<div class="absolute inset-0 bg-linear-to-r from-blue-100 via-orange-100 to-blue-100"></div>
			<div class="relative container mx-auto px-4 sm:px-8 pt-12 sm:pt-36 pb-12">
				<div class="prose md:prose-lg mx-auto">
					<div class="text-neutral-700">
						<FormattedDate date={post.data.publishedDate} />
					</div>
					<h1>{post.data.title}</h1>
				</div>
			</div>
		</header>
	</div>
	<main class="bg-linear-to-b">
		<div class="container mx-auto px-4 sm:px-8 py-8">
			<article class="prose md:prose-lg mx-auto text-wrap wrap-break-word">
				<Content />
			</article>
		</div>
	</main>
</BaseLayout>
