---
import { type CollectionEntry, getCollection, render } from 'astro:content';

import BaseLayout from "../../layouts/base-layout.astro";

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<BaseLayout
	title={post.data.title}
>
	<div class="relative">
		<header class="relative">
			<div class="absolute inset-0 bg-linear-to-r from-blue-200 via-violet-200 to-violet-400"></div>
			<div class="relative container mx-auto px-8 pt-36 pb-12">
				<div class="prose prose-lg mx-auto">
					<h1>{post.data.title}</h1>
				</div>
			</div>
		</header>
	</div>
	<main class="bg-linear-to-b">
		<div class="container mx-auto px-8 py-8">
			<article class="prose prose-lg mx-auto">
				<Content />
			</article>
		</div>
	</main>
</BaseLayout>
